body {
    margin: 0;
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}
